/* 

*** media queries
*** common
*** valiable

*** header
*** main
****** visual
****** main-content
****** side
*** footer

*/
/*==================================================

*** media queries
==================================================*/
/*==================================================

*** common
==================================================*/
body {
  background: #f3f3f3;
  /* background: url(../img/shitae.png)no-repeat center top/contain; */
}

.wrap {
  width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}
@media (max-width: 768px) {
  .wrap {
    /* < 768px */
    width: 88%;
    padding: 0;
  }
}

/*==================================================

*** valiable
==================================================*/
/*==================================================

header
==================================================*/
header {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header__top {
  display: flex;
  align-items: center;
  margin: 20px 20px 0 auto;
}

/* ****** burger-btn ****** */
.burger-btn {
  display: none;
}
@media (max-width: 768px) {
  .burger-btn {
    /* < 768px */
    display: block;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
  }
}

.bar {
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}

.bar_top {
  top: 10px;
  transition: transform 0.4s;
}

.bar_mid {
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s;
}

.bar_bottom {
  bottom: 10px;
  transition: transform 0.4s;
}

.burger-btn.close .bar_top {
  transform: translate(-50%, 10px) rotate(45deg);
  transition: transform 0.4s;
  background-color: #333;
}

.burger-btn.close .bar_mid {
  opacity: 0;
  transition: opacity 0.4s;
  background-color: #333;
}

.burger-btn.close .bar_bottom {
  transform: translate(-50%, -8px) rotate(-45deg);
  transition: transform 0.4s;
  background-color: #333;
}

/* ****** btnarea ****** */
.btnarea {
  display: flex;
  margin: 23px 30px 0 0;
}
@media (max-width: 768px) {
  .btnarea {
    /* < 768px */
    margin: 8px 20px 0 0;
  }
}

.btnarea__list {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  width: 100px;
}

.btnarea__item i {
  color: #bfa34c;
  font-size: 1.4em;
}

.btnarea__item i:hover {
  color: #1e0606;
}

/* ****** header-logo ****** */
.header-logo {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}

/* ****** header__nav ****** */
.header__nav {
  margin-top: 37px;
  font-size: 1.6rem;
}
@media (max-width: 768px) {
  .header__nav {
    /* < 768px */
    display: none;
  }
}

.header__nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 650px;
  font-weight: 700;
}

.header__nav__item {
  position: relative;
}

.header__nav__item:hover {
  color: #bfa34c;
}

.header__nav__item:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 36px;
  height: 3px;
  background-color: #bfa34c;
}

/*==================================================

***visual
==================================================*/
.visual {
  margin-top: 30px;
}

.slider {
  position: relative;
}

.slider:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  background-image: url(../img/overlay.png);
  z-index: 3;
}

.slider:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background-image: url(../img/overlay.png);
  z-index: 3;
}

.mv__slide {
  min-height: 346px;
}

.mv__slide img {
  width: 100%;
  height: 100%;
  min-height: 346px;
  object-fit: cover;
}

/* ****** plugin-class ****** */
.slider .slick-prev {
  left: 64px;
  z-index: 5;
}

.slider .slick-prev:before {
  content: "";
  background: url(../img/prev.png) no-repeat;
  display: inline-block;
  width: 36px;
  height: 48px;
}

.slider .slick-next {
  right: 80px;
  z-index: 5;
}

.slider .slick-next:before {
  content: "";
  background: url(../img/next.png) no-repeat;
  display: inline-block;
  width: 36px;
  height: 48px;
}

.slick-slide {
  position: relative;
}

/*==================================================

*** main-content
==================================================*/
.content__container {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .content__container {
    /* < 768px */
    display: block;
  }
}

.main-content {
  width: 65%;
}
@media (max-width: 768px) {
  .main-content {
    /* < 768px */
    width: 100%;
  }
}

/* ****** main-content__article ****** */
.main-content__article {
  position: relative;
  border-radius: 5px;
  background: #fff;
}

.main-content__article:not(:first-of-type) {
  margin-top: 27px;
}

.main-content__link {
  display: flex;
  justify-content: space-between;
}

.main-content__link:hover {
  opacity: 0.7;
}

/* ****** article__img ****** */
@media (max-width: 768px) {
  .article__img {
    /* < 768px */
    width: 50%;
  }
}

@media (max-width: 768px) {
  .article__img > img {
    /* < 768px */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* ****** article__detail ****** */
.article__detail {
  padding: 20px 25px 29px 30px;
}
@media (max-width: 768px) {
  .article__detail {
    /* < 768px */
    width: 50%;
  }
}

.article__detail__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article__detail__top > time {
  color: #645b5b;
  padding-left: 20px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 38px;
  background: url(../img/icom-time.png) no-repeat left center/14px 14px;
}
@media (max-width: 768px) {
  .article__detail__top > time {
    /* < 768px */
    font-size: 1.4rem;
  }
}

.categoly {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 70px;
  height: 26px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
  background: #bfa34c;
}
@media (max-width: 768px) {
  .categoly {
    /* < 768px */
    width: 55px;
    height: 22px;
    font-size: 1.2rem;
  }
}

.article__title {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  list-style: 32px;
}
@media (max-width: 768px) {
  .article__title {
    /* < 768px */
    margin-top: 10px;
    font-size: 1.6rem;
  }
}

/*==================================================

*** side
==================================================*/
.side {
  width: 30%;
}
@media (max-width: 768px) {
  .side {
    /* < 768px */
    margin-top: 50px;
    width: 100%;
  }
}

/* ****** banner ****** */
@media (max-width: 768px) {
  .banner {
    /* < 768px */
    display: flex;
    justify-content: center;
  }
}

/* ****** sidebar ****** */
aside {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 38px;
}

.sidebar__title {
  padding: 6px 0;
  line-height: 38px;
  text-align: center;
  color: #fff;
  background: #bfa34c;
}

.sidebar__list {
  background: #fff;
}

.sidebar__item {
  padding: 8px 0 8px 26px;
  line-height: 38px;
  background: url(../img/arrow.png) no-repeat right 20px center;
}

.sidebar__item:hover {
  opacity: 0.7;
}

.sidebar__item:not(:last-of-type) {
  border-bottom: 1px solid #f3f3f3;
}

/* ******  ****** */
/*==================================================

*** footer
==================================================*/
footer {
  position: relative;
  margin-top: 116px;
  padding: 37px 0 34px;
  width: 100vw;
  background: #ffffff;
  overflow: hidden;
}
@media (max-width: 768px) {
  footer {
    /* < 768px */
    margin-top: 90px;
  }
}
@media (max-width: 480px) {
  footer {
    /* < 480px */
    margin-top: 70px;
  }
}

footer:after {
  content: "";
  display: block;
  position: absolute;
  top: 110px;
  width: 100%;
  border-bottom: 1px solid #f3f3f3;
}
@media (max-width: 768px) {
  footer:after {
    /* < 768px */
    top: 145px;
  }
}

.page-top {
  position: absolute;
  top: -31px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.page-top:hover {
  transform: translate(-50%, -6px);
  transition: translate 2s ease-out 0s;
}

/* ****** footer__top ****** */
.footer__top {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 470px;
}
@media (max-width: 768px) {
  .footer__top {
    /* < 768px */
    display: block;
    text-align: center;
    width: 100%;
  }
}

.footer__logo img {
  width: 131px;
}

address {
  font-size: 1.2rem;
  line-height: 20px;
}
@media (max-width: 768px) {
  address {
    /* < 768px */
    margin-top: 10px;
  }
}

/* ****** footer__bottom ****** */
.footer__bottom {
  margin: 38px auto 0;
  padding-top: 24px;
  width: 470px;
}
@media (max-width: 768px) {
  .footer__bottom {
    /* < 768px */
    margin-top: 26px;
    width: 80%;
    max-width: 470px;
  }
}
@media (max-width: 480px) {
  .footer__bottom {
    /* < 480px */
    margin-top: 20px;
  }
}

.footer__nav {
  font-size: 1.3rem;
}

.footer__nav__list {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__nav__list {
    /* < 768px */
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer__nav__item {
  line-height: 24px;
}

.footer__nav__item:hover {
  opacity: 0.75;
}

.footer__nav__item:not(:last-of-type) {
  padding-right: 34px;
  background: url(../img/line.svg) no-repeat right center;
}

.copyright {
  margin-top: 1.2rem;
  text-align: center;
  font-size: 1.3rem;
  line-height: 24px;
}

/* ******  ****** */
/*==================================================


==================================================*/
/* ******  ****** */
/* ******  ****** */
/* ******  ****** */
/*==================================================

footer
==================================================*/
/* ******  ****** */
/* ******  ****** */
/* ******  ****** */